{% extends "core/base.html" %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-3">
            {% if item.image %}
                <img src="{{item.image.url}}" class="rounded-xl">
            {% else %}
                <div class="bg-gray-200 w-full h-48 flex items-center justify-center rounded-xl">
                    <span class="text-gray-400">No image yet</span>
                </div>                        
            {% endif %}

        </div>

        <div class='col-span-2 p-6 bg-gray-100 rounded-xl'>
            <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
            <p class="text-gray-500"><strong>Brand : </strong>{{ item.brand }}</p>
            <p class="text-gray-500"><strong>Shape : </strong>{{ item.body }}</p>
            <p class="text-gray-500"><strong>Category : </strong>{{ item.category }}</p>
            

            <div class="mb-6 py-6">
                <p class="text-gray-500"><strong>Fitmeter : </strong></p>

                <div>
                    {% if fitmeter %}
                        <p class="text-pink-400 font-bold text-7xl justify-center"><strong>{{ fitmeter }}</strong></p>
                    {% else %}
                        <div class="mb-6 py-6 text-b">
                            <p class="text-pink-500 font-bold">Be the first one to grade this item</p>
                        </div>
                    {% endif %}
                    
                </div>

                {% if request.user.is_authenticated %}
                    <form action="." method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="space-y-4">
                                {{ new_form.fit_grade }}
                            </div>

                            {% if form.errors or form.non_field_errors %}
                                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                                    {% for field in form  %}
                                        {{ field.errors}}               
                                    {% endfor %}

                                    {{ form.non_field_errors}}
                                </div>
                            {% endif %}

                            {% if contributed %}
                                <button class="mt-6 py-4 px-8 text-lg bg-red-500 hover:bg-red-700 rounded-xl text-white font-bold">
                                Edit
                                </button>
                            {% else %}
                                <button class="mt-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white font-bold">
                                Submit
                                </button>
                            {% endif %}
                            
                        </form>
                {% else %}
                    <div class="mb-6 py-6 text-b"><p class="text-teal-500 font-bold">Log in to add your own impression</p></div>
                {% endif %}



                <style>
                    .error {
                        padding: .5em;
                        margin-top: 1em;
                        border-radius: 1em;
                        text-align: center;
                        color: white;
                        font-weight: bold;
                        background: red;
                    }
                    .success {
                        padding: .5em;
                        margin: 1em;
                        border-radius: 1em;
                        text-align: center;
                        color: white;
                        font-weight: bold;
                        background: green;
                    }
                </style>

                {% if messages %}                
                    {% for message in messages %}
                        <div class = "{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                
            </div>
                
        </div>
                

    </div>

    </div>    
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Related items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in related_items  %}
                <div>
                    <a href="{% url 'items:detail' item.id %}">
                        {% if item.image %}
                            <img src="{{item.image.url}}" class="rounded-t-xl" alt="No image yet">
                        {% else %}
                            <div class="bg-gray-200 w-full h-48 flex items-center justify-center rounded-t-xl">
                                <span class="text-gray-400">No image yet</span>
                            </div>                        
                        {% endif %}
                            
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{item.name}}</h2>
                        </div>

                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %} 