{% extends "core/base.html" %}

{% block title %}Reset{% endblock title %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Forgot your password ? </h1>
        <p class="mb-6 ">Give us your email adress and we will send you isntructions to reset it.</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.as_p}}
            </div>

            <input type="submit" value ="Send me an email" class='py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white'>
        
        </form>
    </div>


{% endblock content %}  